body {
  width: 75%;
  margin: auto;
}

h1 {
  margin-top: 15px;
}

.error {
  color: red;
  font-weight: 700;
  background-color: #FFCCCC;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide-error {
  margin-bottom: 0;
  padding: 0 20px;
}

.nav {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.nav a {
  margin: 0 15px;
}

.welcome {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.orderlist {
  margin-bottom: 20px;
}

.order {
  display: flex;
  flex-direction: column;
}

.product p, .order p {
  margin: 5px 0;
}

.product .name, .order .name {
  margin-top: 40px;
  font-size: x-large;
  font-weight: 300;
}

.product p:last-child, .order p:last-child {
  display: flex;
  justify-content: space-between;
  color: darkgray;
}

.order-details {
  font-size: small;
  color: darkgray;
}

.pending {
  color: orange;
  margin-right: 5px;
}

.completed {
  color: green;
  margin-right: 5px;
}

.cancelled {
  color: red;
  margin-right: 5px;
}

.order-button {
  float: right;
  width: fit-content;
  margin: 2px;
}

.product .country {
  font-style: italic;
}

.product .abv {
  font-style: italic;
}

.product .cart-link {
  text-align: right;
}

.cart table {
  width: 100%;
}

.cart .update-input {
  width: 40px;
  text-align: center;
  margin-bottom: 0px; /* skeleton override */
}

.cart tbody button {
  border: 0;
  padding-top: 10px;
}

.cart .actions {
  display: flex;
  justify-content: space-between;
}

.actions span {
  display: flex;
}

span.actions {
  float: right;
}

.wait-indicator {
  margin: 0 5px 0 5px;
  width: 40px;
  height: 40px;
}
