<div>
  <div>
    <span><a href="/schedule/friday">friday</a></span>
    <span><a href="/schedule/saturday">saturday</a></span>
    <span><a href="/schedule/sunday">sunday</a></span>
  </div>
  <div><a href="/locations">view locations</a></div>
</div>