<div>
  <div>
    <a href="/schedule/friday">friday</a>
    <a href="/schedule/saturday">saturday</a>
    <a href="/schedule/sunday">sunday</a>
    <a href="/locations">view locations</a>
  </div>
</div>