.btn {
  color: #ffffff; // TODO: swap for color var
  padding: 15px;
  background-color: #ff17ce;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  border-radius: 8px;

  &:hover {
    background-color: #7B61ff;
  }

  .secondary {
    color: #ff17ce;
    background-color: #ffffff;

    &:hover {
      color: #7B61ff;
    }
  }
}
