.navbar {
    display: flex;
    justify-content: flex-end;

    a {
        margin: 1rem 2rem;
        color: $green;
        text-decoration: underline;
        font-size: large;
    }

    
    
}

