.navbar {
    display: flex;
    justify-content: flex-end;

    a {
        margin: 1rem 0 0 0.5rem;
        color: $green;
        text-decoration: underline;
        font-size: large;

        @include from ($tablet) { 
          margin: 1rem 0 0 2rem;
        }
    }

    
    
}

