.item-name {
  font-weight: bold;
}

.item-description {
  font-style: italic;
}

.item-color {
  border-radius: 0.5rem;
}

.button-warning {
  color: white;
  background-color: tomato;
}

.item {
  cursor: pointer;
}

table {
  border-spacing: 0;
}

.item td:first-child {
  padding-left: 0.5rem;
}

.item:hover {
  background-color: #eee;
}

.error {
  color: red;
  margin-bottom: 0.5rem;
}
