.box {
  box-shadow: none;
  border: 3px solid $border;
  border-radius: 0;
}

#mapid {
  height: 40rem; 
  width: 52rem;
  margin-left: auto;
  margin-right: auto;
}

.mapContainer {
  display: block;
  width: 80%;
  margin: auto
}

.clearfix {
  clear: both;
}