@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

// Set your brand colors
$green: #8ADB55;
$dark-green: #17A17B;
$olive-green: #3E7C17;
$light-green: #B8DFD8;
$orange: #E5890A;
$red: #D11D05;
$black: #363636;
$dark-blue: #172450;
$blue: #99DDCC;
$white: #ffffff;

$border: $light-green;
$primary: $blue;
$secondary: $orange;

$opacity-bg: rgb(211, 230, 216, 0.4);
$box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.35);

//Sizing
$base-size: 1rem;
$border-size: 0.1rem;
$border-radius: 0.4rem;

// Font Variables
$heading: 'Roboto Slab', serif;   
$paragraph: 'Quicksand', sans-serif;

