@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

// Set your brand colors
$green: #8adb55;
$dark-green: #17a17b;
$olive-green: #3e7c17;
$light-green: #b8dfd8;
$orange: #e5890a;
$red: #d11d05;
$black: #363636;
$dark-blue: #172450;
$blue: #99ddcc;
$white: #ffffff;

$border: $light-green;
$primary: $blue;
$secondary: $orange;

$opacity-bg: rgb(211, 230, 216, 0.4);
$box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.35);

//Sizing
$base-size: 1rem;
$border-size: 0.1rem;
$border-radius: 0.4rem;

// Font Variables
$heading: 'Roboto Slab', serif;
$paragraph: 'Quicksand', sans-serif;
