{{> locationsNav}}

<h2>edit location: <span class="data">{{name}}</span></h2>

<form method="POST" action="/locations/edit" class="form">
  <input type="hidden" name="id" value="{{id}}">

  <label for="name">
    <span>Location Name</span>
  </label>
  <input type="text" id="name" name="name" placeholder="Location name" value="{{name}}">
  <label for="description">
    <span>Description</span>
  </label>
  <textarea rows="4" id="description" name="description" placeholder="Location description">{{description}}</textarea>
  <div></div>
  <button>Update location</button>
</form>