<h2 class="text-3xl">Festival grounds</h2>
<p>Tanglewood, Waimauku, NZ</p>

<h2 class="text-3xl">Schedule by day</h2>
<ul class="list-inside list-disc">
  <li><a href="/schedule/friday">Friday</a></li>
  <li><a href="/schedule/saturday">Saturday</a></li>
  <li><a href="/schedule/sunday">Sunday</a></li>
</ul>

<h2 class="text-3xl">Event locations</h2>
<ul class="list-inside list-disc">
  {{#each locations}}
    <li><a href="/locations/{{id}}">{{name}}</a></li>
  {{/each}}
</ul>

<p class="my-2">
  <a href="/locations/edit">Manage event locations</a>
</p>
