<h2 class="text-3xl">Festival grounds</h2>
<p>Tanglewood, Waimauku, NZ</p>

<h2 class="text-3xl">Schedule by date</h2>
<ul class="list-inside list-disc">
  <li><a href="/schedule/2021-03-25">March 25, 2021</a></li>
  <li><a href="/schedule/2021-03-26">March 26, 2021</a></li>
  <li><a href="/schedule/2021-03-27">March 27, 2021</a></li>
</ul>

<h2 class="text-3xl">Event locations</h2>
<!-- Make the list below dynamic based on data in the database -->
<ul class="list-inside list-disc">
  <li><a href="/locations/1">Stage One</a></li>
  <li><a href="/locations/2">Mongo Yurt</a></li>
  <li><a href="/locations/3">Lower Flower Field</a></li>
</ul>

<p class="my-2">
  <a href="/locations/edit">Manage event locations</a>
</p>
