<div id="container">

<div class="title"><h1>cat generator</h1></div>

<form action="/cats" accept-charset="UTF-8" method="post">

  <div class="catcreate"><input placeholder="name" type="text" name="name" /></div>
  <div class="catcreate"><input placeholder="image url" type="text" name="image" /></div>
  <div class="catcreate"><textarea placeholder="life story" name="life-story"></textarea></div>
  <div class="catcreate"><input type="submit" name="commit" value="Create Cat" /></div>

</form>

<div id="back"> <a href="/cats">nevermind</a></div>


</div>
