{{> locationsNav}}

<h2>locations:</h2>

<ul class="cards">
  {{#each locations}}
  <li class="card">
    <div class="location">
      <a href="/events/{{id}}">{{name}}</a>
      <p class="data">{{description}}</p>
      <span><a href="/locations/{{id}}/edit">Edit Location</a></span>
    </div>
  </li>
  {{/each}}
</ul>