<h1>Schedule management</h1>

<h2>{{date}}</h2>

<h3>Events</h3>
<ul>
  <li><a href="/events/1">event 1</a></li>
  <li><a href="/events/2">event 2</a></li>
  <li><a href="/events/3">event 3</a></li>
</ul>
