// EXAMPLE 

@use '../1-helpers/mixins';
@use '../1-helpers/functions';

.form-container {
  width: functions.colWidth(12);

  @include mixins.media-queries(tablet, min) {
      width: functions.colWidth(4);
  }
}

.image-container {
  width: 100%;
} 