<!DOCTYPE html>
<head>
  <title>Sweet As Beers</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="cart">

    <h1><span class="fa fa-beer"></span> Sweet As Beers <span class="fa fa-beer"></span></h1>

    <p class="welcome">Thirsty? Sweet! You're one step closer to a quenching.</p>

    <table>
      <thead>
        <th>Beer</th>
        <th>Quantity</th>
        <th>Remove</th>
      </thead>
      <tbody>
        <tr>
          <td>HBIB Ginger Fusion</td>
          <td><span>3</span> <input class="update-input" /></td>
          <td><button><span class="fa fa-trash fa-2x"></span></button></td>
        </tr>
        <tr>
          <td>Mangose & Melons</td>
          <td><span>1</span> <input class="update-input" /></td>
          <td><button><span class="fa fa-trash fa-2x"></span></button></td>
        </tr>
        <tr>
          <td>North End Pilsner</td>
          <td><span>2</span> <input class="update-input" /></td>
          <td><button><span class="fa fa-trash fa-2x"></span></button></td>
        </tr>
      </tbody>
    </table>

    <p class="actions">
      <a href="index.html">Continue shopping</a>
      <button>Update</button>
      <button class="button-primary">Checkout</button>
    </p>

  </div>

</body>
</html>

