@use '../1-helpers/mixins';
@use '../1-helpers/vars';

.container {
  position: relative;
  margin-top: vars.$base-size;
  margin-bottom: vars.$base-size;
  max-width: 90%;
  padding: vars.$base-size;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-grow: 1;
  @include mixins.media-queries(tablet, min) {
    flex-direction: row;
  }
}

.flex-column {
  flex-direction: column;

  &-reverse {
    flex-direction: column-reverse;
  }
}

.flex-row {
  flex-direction: row;

  &-reverse {
    flex-direction: row-reverse;
  }
}

.item {
  order: 0;
  font-size: vars.$base-size;
  font-family: vars.$paragraph;
  margin-bottom: vars.$base-size +4;
  margin-right: vars.$base-size;
  // margin-left: vars.$base-size;
  max-width: 100%;
  // text-align: justify;

  @include mixins.media-queries(tablet, min) {
    font-size: vars.$base-size +1;
    margin-bottom: vars.$base-size +3;
    margin-right: vars.$base-size;
  }
}
