@use '../1-helpers/mixins';

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-start;
  @include mixins.media-queries(tablet, min) {
    display: flexbox;
    flex-direction: row;

  }
}

.flex-column {
  flex-direction: column;

  &-reverse {
    flex-direction: column-reverse;
    //complies to .flex-column-reverse
  }
}

.flex-row {
  flex-direction: row;

  &-reverse {
    flex-direction: row-reverse;
    //complies to .flex-row-reverse
  }
}

.position {
  display: flex;
  justify-content: center;
  align-self: baseline;
}

// .item {
//   font-size: 1rem;
// }
