@use '../1-helpers/mixins';
@use '../1-helpers/vars';

.container {
  position: relative;
  margin-top: vars.$base-size;
  margin-bottom: vars.$base-size;
  max-width: 100%;
  padding: vars.$base-size;
}

.flex-container {
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-start;
  flex-grow: 1;
  @include mixins.media-queries(tablet, min) {
    flex-direction: row;

  }
}

.flex-column {
  flex-direction: column;

  &-reverse {
    flex-direction: column-reverse;
    //complies to .flex-column-reverse
  }
}

.flex-row {
  flex-direction: row;

  &-reverse {
    flex-direction: row-reverse;
    //complies to .flex-row-reverse
  }
}

.position {
  padding: vars.$base-size;
  padding-left: vars.$base-size +7;
  padding-right: vars.$base-size +7;
  @include mixins.media-queries(tablet, min) {
    padding: vars.$base-size;
  padding-left: vars.$base-size +4;
  padding-right: vars.$base-size +4;
  }
}

.item {
  order: 0;
  font-size: vars.$base-size ;
  margin-bottom: vars.$base-size +4;
  margin-right: vars.$base-size;
  margin-left: vars.$base-size;

  @include mixins.media-queries(tablet, min) {
    font-size: vars.$base-size +1;
    margin-bottom: vars.$base-size +3;
    margin-right: vars.$base-size;
  }
}

.map-temple {
  margin: 1rem;
  width: 100%;
  position: relative;
}