@use '../1-helpers/mixins';
@use '../1-helpers/functions';
@use '../1-helpers/vars';


// Form
.form-container {
  width: functions.colWidth(12);

  @include mixins.media-queries(tablet, min) {
      width: functions.colWidth(4);
  }
}

.form-title {
  color: vars.$primary;
  font-size: x-large;
  font-weight: bold;
}

.label {
  color: vars.$black;
  font-weight: bold;
}


// Preview
.preview-title {
  color: vars.$primary;
  font-size: x-large;
  font-weight: bold;
}

.para-title {
  color: vars.$primary;
  font-size: normal;
  font-weight: bold;
}

.form-box {
  height: vars.$base-size * 1.75; // or 100%?
  width: vars.$base-size * 20
}

.form-box-height {
  height: vars.$base-size * 8;
  width: vars.$base-size * 20
}