@use '../1-helpers/vars';
@use '../1-helpers/mixins';


header {
    height: 80px;
    background-color: vars.$primary;

    @include mixins.media-queries(mobile, min) {
        height: 100px;
    }
}

.logo-container {
    width: 15rem;
    margin: 5px 0;

    @include mixins.media-queries(mobile, min) {
        width: 20rem;
    }
}

.logo-image {
    width: 80%;
}