@use '../1-helpers/vars';
@use '../1-helpers/functions';
@use '../1-helpers/mixins';


.navi {
    width: auto;
}

.navi-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;

    @include mixins.media-queries(tablet, min) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: vars.$base-size;
        padding-bottom: vars.$base-size ;
    }
}

.navi a {
    font-family: vars.$paragraph;
    color: #fff;
    text-decoration: underline;
    padding-right: vars.$base-size * 0.5;

    &:hover {
        color: vars.$green;
    }

    @include mixins.media-queries(tablet, min) {
        padding: 0 vars.$base-size 0 vars.$base-size;
    }
}