@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

@tailwind base;
@tailwind components;

@font-face {
  font-family: 'RubberNippleFactoryBlack';
  src: url('/RubberNippleFactoryBlack.ttf');
}

.rnfb-font {
  font-family: 'RubberNippleFactoryBlack'
}

@layer utilities {
  @variants responsive {
    .text-stroke-peach {
      text-shadow: 0 2px 3px black;
      -webkit-text-stroke: 2px #F3B997;
    }

    .text-stroke-peach-thick {
      text-shadow: 0 3px 4px black;
      -webkit-text-stroke: 3px #F3B997;
    }
  }
}

@tailwind utilities;
