@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

@font-face {
  font-family: 'RubberNippleFactoryBlack';
  src: url('/RubberNippleFactoryBlack.ttf');
}

.title-header {
  font-family: 'RubberNippleFactoryBlack'
}

.text-stroke-peach {
  -webkit-text-stroke: 2px #F3B997;
}

@tailwind utilities;
