@charset "utf-8";

@import "../../../node_modules/bulma/bulma.sass";

// Custom CSS - Bulma Overrides

// Modules - mostly contains variables, mixins and functions.
@import "modules/colors";

// Partials - components like buttons, header, footer, typography
@import "partials/typography";

.signInContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  .signInLeft {
    width: 30%;
    height: 100%;
    padding-left: 5rem;
    .signInTitle {
      height: 20%;
    }
    label {
      margin-top: 1rem;
    }
    input {
      width: 70%;
      display: block;
    }
    button {
      margin-top: 2rem;
    }
  }
  .signInRight {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  .signInContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .signInLeft {
      width: 100%;
      padding-top: 15%;
    }
  }
  .registerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .leftRegister {
      min-width: 100%;
    }
  }
}
@media only screen and (max-width: 500px) {
  .signInContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .signInLeft {
      width: 100%;
    }
    .signInRight {
      img {
        max-height: 50%;
      }
    }
  }
  .registerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .leftRegister {
      max-height: 50%;
    }
    .rightRegister {
      max-height: 50%;
      img {
        max-height: 70%;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .registerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .leftRegister {
      min-width: 100%;
    }
  }
}

.registerContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  .leftRegister {
    width: 30%;
    height: 100%;
    padding-left: 5rem;
    .registerTitle {
      height: 20%;
    }
    label {
      margin-top: 1rem;
    }
    input {
      width: 70%;
      display: block;
    }
    select {
      display: block;
    }
    button {
      margin-top: 2rem;
    }
  }
  .rightRegister {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
