@use '../1-helpers/vars';
@use '../1-helpers/functions';

// Note: Need to clean up

.alert-container {
  background-color: none;
  margin: 0 auto;
  height: 10vh;
  width: 30vh;
  position: absolute;
  align-items: center;
  left: 0;
  right: 0;
  margin-top: 300px; //change
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 9999;
}

.alert-msg {
  display: block;
  background-color: rgb(249, 216, 216);
  border: 1px solid vars.$red;
  font-size: vars.$base-size;
  justify-content: center;
  border-radius: 5px; //change
  display: flex;
  flex-direction: row;
  align-items: center;
  position: inherit;
  top: 20px; //change
  color: vars.$red;
  padding: vars.$base-size;
  width: inherit;
}

.alert-close {
  color: vars.$red;
  position: absolute;
  z-index: 999;
  right: 0;
}

.inputError {
  color: vars.$red;
}

// Styling for future alerts
// .alert-info {
//   @extend %alert;
// }

// .alert-success {
//   @extend .alert;
//   border-color: green;
// }

// .alert-error {
//   @extend .alert;
//   border-color: red;
// }

// .alert-warning {
//   @extend .alert;
//   border-color: yellow;
// }
