@use "sass:math";
@use '../1-helpers/mixins';
@use '../1-helpers/functions';
@use '../1-helpers/vars';

.button-primary {
  background-color: vars.$dark-green;
  border: none;
  color: white;
  padding: vars.$base-size;
  text-align: center;
  display: block;

  &:hover{
    background-color: vars.$green;
    border: none;
    color: white;
  }
}

.button-width {
  width: functions.colWidth(12);

  @include mixins.media-queries(tablet, min) {
    width: functions.colWidth(6);
  }
}

.button-secondary {
  @extend .button-primary;

  background-color: vars.$secondary; 
  border-radius: math.div(vars.$base-size, 4);
  width: vars.$base-size * 9;
}
