@use '../1-helpers/colors';

.button {
  background-color: colors.$dark-green;
  border: none;
  color: #ffffff;

  &:hover{
    background-color: colors.$green;
    border: none;
    color: #ffffff;
  }
}

.button-cancel {
  float: right;
  color: #000000;
}