@use 'sass:math';
@use '../1-helpers/mixins';
@use '../1-helpers/functions';
@use '../1-helpers/vars';

.card-primary {
  border-radius: math.div(vars.$base-size, 4);
  border: 1px solid vars.$secondary;
  padding: vars.$base-size * 1;
  margin-top: vars.$base-size;
  margin-bottom: vars.$base-size; 
}

.card-secondary {
  @extend .card-primary;
  
  background-color: vars.$primary;
  border: none;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  height: 80vh;
  z-index: 9999;
  @include mixins.media-queries(mobile, min) {
    width: functions.colWidth(6);
    order: 1;
  }
}

.card-title {
  color: inherit;
  margin: 0;
}

.card-list {
  color: inherit;
  padding: 0;

  li {
    display: block;
    margin-bottom: vars.$base-size * 0.5;
  }
}

.card-close-button {
  color: inherit;
  background-color: vars.$primary;
  border: none;
  float: right;
}