@use 'sass:math';
@use '../1-helpers/mixins';
@use '../1-helpers/functions';
@use '../1-helpers/vars';

.card-container {
  width: functions.colWidth(10);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-header a {
  color: vars.$dark-blue;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: functions.colWidth(4);
  margin: vars.$base-size vars.$base-size * 2;
  padding: vars.$base-size * 3;
  background-color: vars.$opacity-bg;
  box-shadow: vars.$box-shadow;
  border-radius: vars.$border-radius * 2;
  color: vars.$dark-blue;
}
