@use 'sass:math';
@use '../1-helpers/mixins';
@use '../1-helpers/functions';
@use '../1-helpers/vars';

.hero-card {
  background-color: vars.$opacity-bg;
  box-shadow: vars.$box-shadow;
  z-index: 9999;
  border-radius: vars.$border-radius * 3;
  max-width: functions.colWidth(6);
  padding: vars.$base-size * 3;
}

.hero-image {
  height: 100%;
  z-index: -1;
  max-width: functions.colWidth(6);
  // margin: vars.$base-size * 4 0;
  border-radius: vars.$border-radius * 3;
  box-shadow: vars.$box-shadow;
}

.hero-title {
  color: vars.$dark-blue;
  font-size: vars.$base-size * 3;
  margin: 0;

  span {
    color: vars.$blue;
    margin: 0;
    width: 100%;
    display: block;
  }
}

.hero-tagline {
  font-size: vars.$base-size * 1.2;

  @include mixins.media-queries(laptop, min) {
    font-size: vars.$base-size * 1.5;
  }
}
