@use '../1-helpers/mixins';
@use '../1-helpers/functions';
@use '../1-helpers/vars';

.map {
  z-index: -9999;
  border-radius: 50%;
  padding: 50%;
  border: solid vars.$secondary;
  @include mixins.media-queries(mobile, min) {
    border-radius: 0%;
    width: functions.colWidth(12);
  }
}

.map-container {
  padding: vars.$base-size;
  padding-right: 0;
  width: functions.colWidth(12);
  order: -1;
  @include mixins.media-queries(mobile, min) {
    width: functions.colWidth(6);
    order: 1;
  }
}
