@use '../1-helpers/mixins';
@use '../1-helpers/functions';
@use '../1-helpers/vars';

.map {
  border-radius: 50%;
  margin: 3rem auto;
  padding: 50%;
  border: solid vars.$secondary;
  @include mixins.media-queries(mobile, min) {
    border-radius: 1rem;
    width: functions.colWidth(12);
    object-fit: contain;
  }
}

.graph-map {
  padding: vars.$base-size *3;
  width: 90%;
  width: functions.colWidth(12);
  text-align: left;
  
  @include mixins.media-queries(mobile, min) {
    width: functions.colWidth(6);
    padding: 10px 10px;
    margin-left: 0;
  }

  // chart styling not implemented yet
  .svg {
    padding: vars.$base-size;
    display: block;
    position: relative;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
  }

  .svg::after {
    position: relative;
    display: block;
    margin: 0;
    object-fit: contain;
  }
}
