/*

`maxi-post` is a post with the added meta data
- parent post
- reply count

- date-time posted
- display name and user name of author
- author's profile-picture (PFP)
*/

:root {
  --primary-color: #3498db;
  --secondary-color: #e74c3c;
  --text-color: #333;
  --background-color: #f0f0f0;
  --contrasting-bg-color: #333;
  --contrasting-fg-color: #ccc;
  --accent-color: #27ae60;

  --soft-link: #aaa;
  --soft-link-active: rgb(54, 40, 130);
  --soft-link-visited: #aaa;

  --small: 1.2rem;
}

.maxi-post__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 2rem;
}

.maxi-post__prelude {
  padding: 0.5rem 0.5rem 1rem 3rem;
  border-radius: 5px 5px 0 0;
  background-color: var(--contrasting-bg-color);
  font-size: var(--small);
  color: var(--contrasting-fg-color);
  grid-column: 1 / -1; /* Spans from the first to the last column */
}

.maxi-post__reply_link:link,
.maxi-post__reply_link:visited,
.maxi-post__reply_link:active {
  color: var(--contrasting-fg-color);
}

.maxi-post__body {
  /* background: #ccc; */
  border-radius: 5px;
}

.maxi-post__pfp {
  background: white;
  width: 55px;
  height: 55px;
  border-radius: 28px;
  float: left;
  display: block;
  margin: 10px;
}

.maxi-post__timestamp {
}

.maxi-post__display_name:link,
.maxi-post__display_name:visited {
  text-decoration: none;
}

.maxi-post__timestamp:link {
  text-decoration: none;
  color: var(--soft-link);
}

.maxi-post__timestamp:visited {
  color: var(--soft-link);
}

.maxi-post__timestamp:active {
  color: var(--soft-link-active);
}

input[data-submitting='true'],
button[data-submitting='true'] {
  /* this is not it, but basically we want 'disabled' styles' */
  color: #555;
  background: #ccc;
}

/**
  mini-post is what we render to add context to another post, e.g. replies to that post
*/
.mini-post__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
}

.mini-post__body {
}

.mini-post__text > p:last-child {
  margin-bottom: 0px;
}

.mini-post__pfp {
  background: white;
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 19px;
}

.mini-post__timestamp {
}

.mini-post__display_name:link,
.mini-post__display_name:visited {
  color: rgb(54, 40, 130);
  text-decoration: none;
}

.mini-post__timestamp:link {
  text-decoration: none;
  color: var(--soft-link);
}

.mini-post__timestamp:visited {
  color: var(--soft-link-visited);
}

.mini-post__timestamp:active {
  color: var(--accent-color);
}

/** reply form */
.reply-form__text-input {
  width: 100%;
  margin: 0;
}

/** compose form */
.compose-form__text-input {
  display: block;
  width: 100%;
  margin: 0;
}

.compose-form__hint {
  color: #aaa;
  font-size: 0.7em;
  font-style: italic;
}

/** site name */
.site-name__link {
  text-decoration: none;
}

/* edit profile form */

.profile-form {
  background-color: rgba(52, 152, 219,0.1);
  padding: 2rem 1rem 0rem 1rem;
  height: 100%;
  width: 50%; 
}

.profile-form__wrapper {
  position: relative;
  display: flex; 
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  margin: 2rem;
}

.profile-form__input {
  width: 100%;
}

.profile-form__button {
  background-color: #FFF;
  align-self: center;
}


/** errors */
.error-message {
  display: block;
  border: solid 1px red;
  background: palevioletred;
  color: white;
  border-radius: 3px;
  padding: 1rem;
}

