.clearfix {
  clear: both;
}

.event-box {
  box-shadow: none;
  border: 1px solid $border;
  border-radius: 5px;
  overflow: auto;
  height: 250px;
  padding: 1rem;
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  h4{ 
    margin-bottom:0.5rem;
  }
}

.eventDesc{
  margin-bottom:0.7rem;
}

.leaflet-container {
  height: 536px; 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  @include until ($tablet){
    height: 300px; 
    width: 100%;
  }
}

.message-error {
  border: 2px solid $red;
  padding: 0.5rem;
  background-color: #ffcccc;
  margin-top: 1rem;
}

img{
  border-radius: 5px;
  // height: 536px;
}

.imageFit{
  @include from ($tablet) {
    height:536px;
  width:660px;
  overflow: hidden;
    }
  }
