.clearfix {
  clear: both;
}

.box {
  box-shadow: none;
  border: 3px solid $border;
  border-radius: 0;
  overflow: hidden;
}

.map-box {
  height: 30rem; 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.rightHeroImage {
  margin-left: 82px;
}