.game {
  text-align: center;
  justify-content: center;
}

.tiles {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-template-rows: 130px 130px 130px 130px;
  justify-content: center;
}

.tile {
  border: solid black 1px;
  border-radius: 10%;
  padding: 10px;
  align-content: center;
  font-size: 80px;
  font-family: 'Symbola';
  height: 100px;
  width: 100px;
}

