@use "sass:math";
@use '../1-helpers/mixins';
@use '../1-helpers/functions';
@use '../1-helpers/vars';

.button-primary {
  background-color: vars.$secondary;
  border: none;
  color: white;
  padding: vars.$base-size;
  text-align: center;
  display: block;
  text-decoration: none;
  border-radius: 4px;

  &:hover{
    background-color: vars.$primary;
    border: none;
    color: white;
  }
}

.submit {
  @extend .button-primary;
  display: flex;
    width: auto;
    margin: 5px auto;
    align-items: center;
}

.profile-submit{
  @extend .submit;
  width: 150px;
  margin-top: 25px;
  padding: 10px;
  justify-content: center;
}

.button-width {
  width: functions.colWidth(12);

  @include mixins.media-queries(tablet, min) {
    width: functions.colWidth(6);
  }
}

.button-secondary {
  @extend .button-primary;

  background-color: vars.$secondary; 
  border-radius: math.div(vars.$base-size, 4);
  width: vars.$base-size * 9;
}

.inline-button {
  display: inline-block;
}

.register-button {    
  background-color: vars.$secondary;
  margin-left: 14px;
  color: white;
  border-radius: 4px;

  &:hover {
      background-color: vars.$dark-blue;
      color: white;
  }
}