name: Deploy to Heroku

on:
  deploy:
    branches:
      - main

jobs:
  build:
   runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.6.8 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "horoeka-gardenz" #Must be unique in Heroku
          heroku_email: "gio.poliko@gmail.com"
